{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

{# <div class="container">
    {% for message in app.flashes("Info") %}
        <p class="alert alert-primary">{{ flash }}</p>
    {% endfor %}

</div> #}
<div class="container mt-3">
    {% for flash in app.flashes("Success") %}
        <p class="alert alert-primary"> {{ flash }} </p>
    {% endfor %}
    {% for flash in app.flashes("Error") %}
        <p class="alert alert-danger"> {{ flash }} </p>
    {% endfor %}
</div>
<div class="container-fluid">
<a class="btn btn-primary" href="{{ path('category_create') }}">Create </a>
<style>

</style>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category ID</th>
                <th scope="col">Category Name</th>
               
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Category in Categorys %}
              <tr>
                <td scope="row">{{Category.id}}</td>
                <td scope="row">{{Category.name}}</td>
                <td scope="row">
                    <a class="btn btn-warning" href="{{ path('category_detail', {'id':Category.id} ) }}">View Detail</a> 
                    <a class="btn btn-warning" href="{{ path('category_update', {'id':Category.id} ) }}">update</a> 
                    <a class="btn btn-warning" href="{{ path('category_delete', {'id':Category.id} ) }}">Delete</a> 
                </td>
            </tr>
        {% endfor %}
          
            <tr>
                <td class="col"></td>
                <td class="col"></td>
                <td class="col"></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}